/* Demo style */
.container {
    text-align: center;
}
ol.my-ol>li {
    padding-bottom: 8px;
    line-height: 21px;
}
.my-ol code{
    padding-left: 10px;
    border: 1px solid #eecec6;
    padding-bottom: 4px;
}
.button-demo p,
.button-demo li {
    line-height: 20px;
}
button {
    position: relative;
    display: inline-block;
    min-width: 200px;
    border: none;
    background-color: #008ACC;
    color: #ffffff;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 0px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    min-height: 48px;
}
/* White bg button */
button.demo-button {
    line-height: 21px;
    border: 1px solid #008ACC;
    border-radius: 3px;
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none !important;
    margin-bottom: 10px;
    border-bottom: 2px solid #008ACC;
    height: 48px;
    -webkit-transition: all 0.25s linear;;
    transition: all 0.25s linear;
    background-color: #fff;
    color: #008ACC;
}
button.demo-button.loading-element svg path.color {
    stroke: #008ACC;
}
button.demo-button.circular-loading.succeed, button.demo-button.circle-loading.succeed, button.demo-button.infinity-loading.succeed {
    color: #fff;
    transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
}
button.demo-button.succeed svg path.color, button.demo-button.failed svg path.color {
    transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
    stroke: #fff;
}
button.demo-button.loading-element.right svg path, button.demo-button.loading-element.left svg path {
    stroke-width: 6;
}
button.demo-button.loading-element.top svg path, button.demo-button.loading-element.bottom svg path {
    stroke-width: 3;
}
/* END White bg button*/

p,
.row div {
    text-align: left;
    min-height: 35px;
}
.demo-inline-p, .demo-div {
    border: 1px solid #eee;
}
.demo-inline-p::before {
    content: '<p>';
    position: relative;
    left: 10px;
    color: #dcd8d8;
    font-style: italic;
}
.demo-div::before {
    content: '<div>';
    position: relative;
    left: 10px;
    color: #dcd8d8;
    font-style: italic;
}
pre {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    margin-bottom: 10px;
    overflow: auto;
    width: auto;
    padding: 5px;
    background-color: #eee;
    width: 650px!ie7;
    padding-bottom: 20px!ie7;
    max-height: 600px;
}